body {font-size:small; font-family:Tahoma,Verdana,Arial; background-color: #F6F4F0; margin: 0px; padding: 0px;} 
input { margin-left: 20px; }


#sep { background-color: #003b77; color: FFFFFF; height: 28px; line-height: 30px;}
#sep1 { background-color: #003b77; color: FFFFFF; height: 60px; line-height: 30px;}
a,a:link,a:hover,a:visited { color: #FFFFFF; font-size: small; }
td { font-size: small; }

a.title,a:link.title,a:hover.title,a:visited.title { color: #000000; }

table { width: 100%; font-size: -1;} 
#record0 { background-color: #F6F4F0; }
#record1 { background-color: #e0d8c6; }
